
  #calc-body {
    background-color: #260e04;
    border: 10px solid #260e04;
    display: grid;
    grid-template-columns: repeat(4, 85px);
    grid-template-rows: minmax(100px, auto) repeat(5, 70px);
    width: fit-content;
    width: -moz-fit-content;
    gap: 2px;
    position:absolute;
    top: 10%;
    left: 35%;
    right: 45%;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
  }

  #display {
    grid-column: 1 / 5;
    background: #260e04;
    font-size: 70px;
    text-align: end;
    color: white;
  }

  #clear{
    grid-column: 1 / 3;
  }

  #clear, #backspace{
    background-color: #efdcd5;
  }

  #zero{
    grid-column: 1/3;
  }

  button {
    font-size: 24px;
    border-radius: 3px;
    border: none;
  }

  .operator {
    background-color: #ff9800;
    color: white;
    
  }

  .num, #decimal{
    background-color: #4e342e;
    color: white;
  }